.App {
  text-align: center;
  margin: 0 0.8rem;
}
.alert-onProcess {
  color: #00327c;
  background-color: #c8c9ff;
}

.alert-done {
  color: #034d00;
  background-color: #caffc8;
}

.alert-pending {
  color: #ff0000;
  background-color: #ffd0d0;
}
